/*CAROUSEL*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.navbar-default {
	background: #fff;
	    border: none;
}

.logo {
	width: 150px;
    margin: 8px;
}

.cursor-pointer {
	cursor: pointer;
}

#cadastrese {
	background-color: #000;
	color: #fff;
	border:none;
}

.listaMenu {

	max-width: 700px;
    margin: 0 auto;	
}

.listaMenu li {
	padding-top: 16px;
    margin-top: -8px;
    padding-bottom: 11px;
    /*margin-top: 6px;*/
}

.listaMenu li:hover {

    background-color: #000;
    cursor: pointer;
    /*border: 1px solid #000;*/
}

.menu1 li a {
	text-decoration: none;
	color: #cb8a19 !important;
}


.lista-menu li:hover {
	background-color: rgba(0,0,0,0.5);
}

.listaMenu li a {
	text-decoration: none;
	color: #fff;
}




.left , .right , .carousel-control {
	background: none !important;
}

.glyphicon, .glyphicon-chevron-left , .glyphicon-chevron-left {
	color: #25ab87;
}

 li .active {
	background-color:  #25ab87 !important;
}

.carousel-indicators li {
	border-color: #25ab87 !important
}

@media only screen and (min-width: 1041px) {
	.left {
	margin-left: -10% !important;
	}

	.right {
		right: -10% !important;
	}
}


#logo {
	width: 71%;
	margin-left: 99%;
}

#navbar-text-red {
	 background: #25ab87;
    border-radius: 5px;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 7%;
}

#navbar1 {
	margin-right: 10%;
}

.navbar-brand {
	background-image:  url('../img/logo-escuro.png');
	background-size: 37%;
	background-position: 35%;
	background-repeat: no-repeat;
	width: 600px !important;
	padding-bottom: 9%;
    padding-top: 3%;
}
/*FIM NAVBAR*/

.container-yt {
	/*background-color: gray;*/
	width: 76% !important;
}
.container-yt h1 {
	font-size: 20px;
	padding: 10% 5% 0% 5%;
	text-align: center;
}

.container-yt h2 {
	font-size: 15px;
	text-align: center;
}

#carousel_area {
	width: 85%;
}

#faixa1 {
	background-image: url(../img/faixa1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64%;
    height: 111px;
}

.middle-text {
	padding-top: 9%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.row-mg-tp-4 {
	margin-top: 4%;
}

form input[type=text] {
	width: 64%;
	margin:  0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 0;
}

.sft-desc {
padding-right: 18%;

}
form p {
	padding-top: 3%;
	padding-bottom: 3%;
	margin-bottom: 0;
}

form a {
	text-decoration: none;
	color: #25ab87;
}

.item-centralize {
	margin: 0 auto !important;
	display: block !important;
}

#btn-now {
	background-color: #25ab87;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	border : none;
	padding-right: 20%;
	padding-left: 20%;
}


/* TECNOLOGIA AREA*/
#finger {
	width: 100%;
	margin-top: 6%;
}

#tec {
   background-image: url('../img/background-6.jpg');
   background-repeat: no-repeat;
   background-size: 100%;
   margin-top: 100px;
   color: #fff;
}

#tec h2 {
	margin-bottom: 0;
}
#tec h3 {
	font-size: 18px;
	font-weight: lighter;
	margin-top : 0;
	line-height: 18px;
	/*text-decoration: line-through;*/

}

#tecnologia-text {
	margin-top: 5%;
}

.agroup-text {
	padding: 3% 12% 3% 0;x
}

.list-tec-dt {
	text-align: left !important;
	width: 80px !important;
}

.list-tec dd {
	margin-left: 0 !important;
}

.list-tec dd p:first-child {
	font-weight: bold;
}
.list-tec dd p:last-child {
	font-size: 12.7px;
}

.font-custom1 {
	color: #000;
	font-size: 24px;
}

.font-custom2 {
	font-size: 20px;
}


.gestao_text {
	margin-left: 4%;
	margin-top: 4%;
}

.mg-tp-5 {
	margin-top : 5%;
}

.mg-tp-2 {
	margin-top : 2%;
}


.mg-tp-3 {
	margin-top : 3%;
}


.mg-tp-9 {
	margin-top : 9%;
}
.mg-tp-12 {
	margin-top : 12%;
}
.mg-tp-8 {
	margin-top : 8%;
}
.mg-tp-21 {
	margin-top : 21%;
}

.mg-tp-10 {
	margin-top: 10%
}

.gestao_text p strong {
	font-size: 20px;
}

.relation-marketing {
	background-image: url('../img/bg/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

#transparent-bg-black{
	background-color: rgba(0, 0, 0 , 0.7);
	color:  #fff;
}

#transparent-bg-black h2 {
	font-weight: bold;
	line-height: 2px;
}


#transparent-bg-black h3 {
	font-size: 17px;
	font-weight: lighter; 
	padding-right: 26%;
	padding-left: 24%;
}

#transparent-bg-black .row:first-child {
	padding-top: 5%;
}

.mkt-row {
	padding-left: 11%;
}

.mkt-row p:first-child {
	font-size: 16px;
}

.mkt-row p:last-child {
	padding-right: 33%;
	font-size: 14px;
	font-weight: lighter;
}

hr {
	border : 1px solid #25ab87 !important;
	width: 50% ;
}

.h2-config {
	color: #000;
	font-size: 28px;
}

.h3-config {
	color: #000;
	font-size: 22px;
}

.client-svip-text {
	padding-top: 8%;
}

.pd-tp-3 {
	padding-top: 3%;
}

.pd-tp-7 {
	padding-top: 7%;
}

.pd-bt-9 {
	padding-bottom: 9%;
}

.line-height-config-desktop {
	line-height: 1px;
}

.btn-custom-red {
	background-color: #25ab87 !important;
	color: #fff !important;
	width: 171px;
	height: 54px;
}

.btn-custom-red:active ,.btn-custom-red:focus , .btn-custom-red:target {
	background-color: #fff !important;
	color: #000 !important;
	width: 171px;
	height: 54px;
	border: 2px solid#753B39 !important;
	outline: none !important;
}



#line {
    width: 30px;
    z-index: 100000;
    margin-bottom: -1px;
    position: relative;
    left: 50%;
}
 

 #carousel_area {
	width: 60%;
 }

.preco_full {
	background-image: url(../img/preco_full2.png);
    background-size: 100%;
    width: 220px;
    height: 272px;
    background-repeat: no-repeat;
    color: #000;
    margin: 0 auto;
}

.preco_full p:first-child  , .preco p:first-child {
	padding-top: 8%;
    font-weight: lighter;
    font-size: 16px;
    line-height: 21px;
}

.preco_full p strong , .preco p strong {
	font-size: 29px;
}

.preco_full  p:nth-child(2)  , .preco p:nth-child(2) {
	color: #fff;
	font-weight: 500;
	padding-top: 3%;
}

.preco_full p:nth-child(3) {
	font-weight: 500;
}

.real {
	font-weight: 900;
}


.preco {
	background-image: url(../img/preco.png);
    background-size: 100%;
    width: 213px;
    height: 189px;
    background-repeat: no-repeat;
    color: #000;
    margin: 0 auto;
}

#trial {
	background: #25ab87 !important;
	color: #fff;
	font-weight: bold;
	font-size: 19px;
	padding: 0.7% 5% 0.7% 5%;
}

#footer {
	background: #F0F0F0;
}

#footer h2 {
	color: #000;
	font-weight: 900;
}

#footer h3 {
	padding-left: 31%;
    font-size: 15px;
    padding-right: 157px;
    text-align: justify;
}

#footer p {
	padding-right: 13%;
	color: #000;
}

#footer2 {
	background: #DCDCDC;
}

#footer2 p{
	font-weight: normal;
	padding-top: 1%;
}

#footer-list {
	padding-top: 2%;
	margin-bottom: 0;
	text-align: left;
}

.img-footer {
	width: 44px;
}

.mg-tp-list {
	margin-left: -2%;
}

#footer-list img {
	width: 100%;
}

.prices {
	max-width: 920px;
}

@media only screen and (min-width: 320px) and (max-width: 767px)  {
	
	#logo {
		margin: 0 auto;
		display: block;
		width: 66%;
	}

	#carousel_area {
		width: 100%;
	}

	#finger {
		display: none;
	}

	.container-yt {
		width: 100% !important;
	}

	.container-yt h1 {
		padding: 0;
	}

	 #carousel_area {
		width: 100%;
 	}

	#faixa1{
		background-size: 100%;
		height: 91px;
	}

	form input[type=text] {
		width: 100%;
	}

	h1>strong {
		font-size: 16px;
	}

	#finger {
		display: none;
	}

	#tec {
		background-size: 700%;
		text-align: center;
	}
	#tec h3 {
		font-size: 13px;
	}
	.tec-img {
		margin: 0 auto;
		display: block;
	}
	
	.img-responsive-center {
		display: block;
		margin: 0 auto;
	}

	.gestao_text p  {
		text-align: center;
		padding: 0 !important;
	}

	.gestao_text p:last-child  {
		text-align: justify;
	}

	.font-custom2 {
		font-size: 17px;
	}

	#transparent-bg-black h2 {
		line-height: 34px;
	}

	#transparent-bg-black h3 {
		padding: 0;
	}

	.mkt-row {
		padding: 0;
	}

	.mkt-row p:first-child {
		text-align: center;
	}

	.mkt-row p:last-child {
		text-align: center;
		padding: 0;
	}

	.mkt-img {
		display: block;
		margin: auto;
	}

	#line {
		left: 48%;
	}

	.preco_full p:first-child  , .preco p:first-child {
	/*	padding-top: 11% !important;
		line-height: 20px;
		margin-bottom: 0%;*/
	}

	/*.preco_full p strong {
		font-size: 21px;
	}*/
	.preco_full  p:nth-child(2)  , .preco p:nth-child(2) {
/*		color: #fff;
		font-weight: 500;
		padding-top: 11% !important;
	    line-height: 16px */
	}

	/*.real {
		font-size: 15px !important;	
	}*/

	.preco_full p:nth-child(3) {
	/*	font-weight: 500;
		padding-top: 9%;
		font-size: 11px;*/
	}

	/*.preco_full {
		height: 187px;
		background-size: 106%;
	}*/

	#trial {
		padding: 3.7% 5% 3.7% 5%;
	}

	.btn-custom-red {
	    width: 100px;
	    height: 54px;
	}

	.btn-custom-red:active ,.btn-custom-red:focus , .btn-custom-red:target {
		width: 100px;
	    height: 54px;
	}

	#footer h3 {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	#mensagem_img {
		width: 100%;
	    margin-left: 4%;
	}

	#footer-list {
		text-align: center;
		padding-top:0;
	}

	#footer2 p {
		font-size: 12px;
		text-align: center;
	}
	.planos {
		width: 100%;
	}
	.planos > .col-xs-4 {
		padding-left: 0;
		padding-right: 0;
	}

	.planos-container {
		padding-left: 8% !important;
	    width: 100% !important;
	    padding-right: 0 !important;
	}

	.navbar-brand {
		background-size: 59%;
		width: 250px !important;
	}

	.h3-config {
		font-size: 20px;
	}
	.prices {
		/*padding: 12% 6% 0% 6%;*/
	}
    
    .middle-text {
        padding-top: 9%;
    }

   #line-bord{
    	display: none;
    }

    #line {
    	display: none;
    }

}


@media only screen and (min-width: 767px) and (max-width: 991px){

	#finger {
		padding-top: 65%;
		display: block;
	}

	#tec {
		background-size: cover;
	}

	.tec-img {
		margin: 0 auto;
		display: block;
	}
	
	#carousel_area {
		width: 100%;
	}

	.img-responsive-center {
		display: block;
		margin: 0 auto;
	}

	.sm-center {
		text-align: center;
	}

	.gestao_text p:last-child  {
		text-align: justify;
	}

	.navbar-brand {
    	width: 470px !important;
	}

	.sft-desc {
		padding: 0;
	}

	.middle-text {
    	padding-top: 7.5%;
	}

	.planos {
		padding-left: 10%;
    	padding-right: 10%;
	}

	#trial {
   		    padding: 2.7% 1% 2.7% 1%;
   		width: 347px !important;
	}

	#btn-now {
	    padding-top: 2%;
	    padding-bottom: 2%;
	}

	#footer h3 {
	    padding-left: 0%;
	    padding-right: 0px;
	}

	#mensagem_img {
		width: 89%;
	}

	#trial {

	    padding: 3.7% 1% 3.7% 1%;
    width: 97%;
	}

	  #line-bord{
    	display: none;
    }

    #line {
    	display: none;
    }

} 


